.main-bg {
    background-color: #f1f1f1;
    /*background-image: url('../img/');*/
    background-position: center center;
    color: var(--white-color);
}
.white-bg {
   /*background: var(--white-color);*/
   color: var(--primary-color);
   background-color: #f1f1f1;
   
   
   

   
}
.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: 8rem var(--gap);
    
    

}
.section {
    min-height: 100vh;
}
.menu-spacing {
    height: 65px;
}
body .full-width {
    width: 100%;
    flex: 1 1 100%;
    
}
.bg-image {
    /* The image used */
    background-image: url("photographer.jpg");
  
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Position text in the middle of the page/image */
  .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }